
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
	background-color: #222;
	background-size: 100%;

}

#page {
	width: 800px;
	margin: auto;
	padding: 10px 50px 50px 50px;
	background-color: #DDD;
	text-align: center;
}

.choiceWrapper {
	border-radius: 10px;
	padding: 5px 0px 15px 0px;
}

.choice {
	display: inline-block;
	width: 180px;
	height: 180px;
	margin:5px 20px;
	padding: 8px;
	}


.choice:hover {
	border: 6px solid black;
	border-radius: 5px;
	margin-bottom: -6px;
	padding: 2px;
}

.middle {
	height: 100px;
}

#GameResult {
	height: 56px;
	width: 200px;
	background: yellow;
	border-radius: 5px;
	/*stuff to center*/
	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin-top: -28px;
  	margin-left: -100px;
  	/*Vertically center text*/
  	padding: 17px 0px 17px 0px;
  	font-weight: bold;
  	font-size: 20px;


}

#player {
	background-color: #DFD;

}

#computer {
	background-color: #FDD;
}