body {
	background-color: grey;
	background-size: 100%
}

#page {
	width: 800px;
	margin: auto;
	padding: 50px;
	background-color: white;
}

.choice {
	display: inline-block;
	position:;
	width: 200px;
	height: 200px;
	margin:5px;
	padding:;
	border: 2px solid black;
}
	
.choice:hover {
	border: 4px solid black;
}

.rock {
	background-color: red;
}