body {
	background-color: #222;
	background-size: 100%;
	font-family: 'Signika', sans-serif;
}

#page {
	width: 800px;
	margin: auto;
	padding: 10px 50px 50px 50px;
	background-color: #DDD;
	text-align: center;
}

.choiceWrapper {
	border-radius: 10px;
	background-color: #DFD;
	padding: 5px 0px 10px 0px;
}

.choiceContainer {
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-around;
}

.choice {
	position: relative;
	width: 200px;
	height: 200px;
	margin:5px;
	}

	
.choice:hover {
	border: 4px solid black;
	border-radius: 5px;
	margin-bottom: -6px;
	top: -6px;
	padding: 2px;
}